extends layout

block content
  div.container
    div.row
      div.span12
        div.row
          div.span4
            h3 Gear Name
          div.span4
            h3 Last Backup
          div.span4
            h3 Gear Url
        div.double-border
        div.row
          div.span4
            h4 Test
          div.span4
            h4 Never
          div.span3
            h6
              a(href="http://test-whearn.rhcloud.com")
                | http://test-whearn.rhcloud.com
          div.span1
            form.pull-right(method="link", action"/gearinfo/test")
              button.btn-primary.btn(type="submit")
                | Manage
    div#push