extends layout

block content
  div.container
    div.hero-unit
      h1 Test
      p 
        a(href="http://test-whearn.rhcloud.com")
          | http://test-whearn.rhcloud.com
    div.row
      div.span12
        div.row
          div.span6
            h3 Backup Date
          div.span5
            h3 Download Backup
          div.span1
            h3 Delete
        hr
        div.row
          div.span6
            h4 2013-09-27
          div.span5
            h4 
              a(href="/backups/test/2013-09-27-test.tar.bz2")
                | Download
          div.span1
            form.pull-right(method="link", action"/gearinfo/test")
              button.btn-danger.btn(type="submit")
                | Delete
    div#push