!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    block head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href="/css/jquery-ui-1.10.3.custom.min.css")
      link(rel='stylesheet', href="/css/chosen.css")
      link(rel='stylesheet', href="/css/datepicker.css")
      link(rel='stylesheet', href="/css/bootstrap-timepicker.css")
      link(rel='stylesheet', href="/css/colorpicker.css")
      link(rel='stylesheet', href="/css/refineslide.css")
      link(rel='stylesheet', href="/css/bootstro.css")
      link(rel='stylesheet', href="/css/jquery-slider.css")
      link(rel='stylesheet', href="/css/checkbox-radio-switch.css")
      link(rel='stylesheet', href="/css/extend.css")
      | <style>
      | #wrap > .container { padding-top: 60px; }
      | #wrap > .jumbotron { padding-top: 60px; }
      | #footer-center { text-align: center }
      | </style>
      script(src='/js/bootstrap.min.js')
      script(src='/js/jquery.js')
      script(src='/js/html5shiv.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/jquery-ui-1.10.3.custom.min.js')
      script(src='/js/flot/jquery.flot.min.js')
      script(src='/js/flot/jquery.flot.pie.min.js')
      script(src='/js/flot/jquery.flot.resize.min.js')
      script(src='/js/date-time/bootstrap-datepicker.min.js')
      script(src='/js/date-time/bootstrap-timepicker.min.js')
      script(src='/js/bootstrap-colorpicker.min.js')
      script(src='/js/jquery.knob.min.js')
      script(src='/js/jquery.autosize-min.js')
      script(src='/js/jquery.inputlimiter.1.3.1.min.js')
      script(src='/js/jquery.maskedinput.min.js')
      script(src='/js/jquery.refineslide.js')
      script(src='/js/bootbox.js')
      script(src='/js/bootstro.min.js')
    div#wrap
      include header
      block content

    include footer