extends layout

block scripts
  script(src='/js/osbs/schedule_backup.js')
  script.
    window.onload = page_loaded();
block content
  if (gears.length > 0)
    div.alert-box.success(id="success-box", style="display: none")
      | SUCCESS!
    div.alert-box.alert(id="failure-box", style="display: none")
      | FAILURE!
    form#schedulebackup_form(action="/schedulebackup")
      fieldset
        legend Schedule Backup
        div.large-5.columns
          div.row
            div.large-2.columns
              label(for="gearlist") Gear:
            div.large-9.columns
              select.medium(id="gearlist", name="gear")
                each gear in gears
                  option= gear.name
        div.large-5.columns
          div.row
            div.large-3.columns
              label(for="occurrence") Occurrence:
            div.large-8.columns
              select.medium(id="occurrence", name="occurrence")
                option Once
                option Daily
                option Weekly
                option Monthly
        div.large-2.columns
          a.button.small(id="schedule_submit") Schedule
  else
    div.columns
      h4 Add the client cartridge to some of your gears